#data-input {
  .sorting-data-input {
    width: auto;
  }

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: $primary-color;
    margin-top: 1rem;
  }
}
