#sortings {
  padding: 1rem 0rem;
  margin: 0;
  height: 1000px;

  .controls {
    display: inline block;
    margin-bottom: 1rem;
  }

  .animations {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .animation {
      min-width: 300px;
      max-width: 90%;
    }
  }
}
