#sorting-pick-list {
  .pick-list-group {
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 0;
  }

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: $primary-color;
    margin-top: 1rem;
  }
}
