@import "config";
@import "menu";
@import "header";
@import "dataInput";
@import "sortingPickList";

section {
  padding: 2rem 1rem 0rem 1rem;
  margin-bottom: 1rem;
}

.heading {
  text-align: left;
  margin-bottom: 1rem;
}
